.overflow-hidden {
	overflow: hidden !important;
}
.custom-footer-menu .elementor-nav-menu--main .elementor-nav-menu ul li {
	width: 250px !important;
}
@media (max-width: 768px) {
	.custom-footer-menu .elementor-nav-menu--main .elementor-nav-menu ul li {
	width: auto !important;
}
}
.hidden-select {
	display: none !important;
}

.variations {
	.attr-name {
		font-weight: 700;
	}
	.attr-options {
		.option-label {
			padding: 12px;
		}
	}
	.show-price {
		margin-top: 10px;
	}
}
.woocommerce-variation-price {
	display: none;
}
.view-cart {
	padding: 1rem;
	border: 1px solid #dadada;
}